[defaults]

# Default location for invenories
inventory = inventories

# Home directory where temp files are stored on remote systems.
# Should almost always contain $HOME or be a directory writeable by all users
remote_tmp = $HOME/.ansible/tmp

# The default number of forks (parallelism) to be used.
# Default is 5, usually you can crank this up.
forks = 5

# The timeout used by various connection types.
# Usually this corresponds to an SSH timeout
timeout = 10

# When using --poll or "poll:" in an ansible playbook, and not specifying
# an explicit poll interval, use this interval
poll_interval = 15

# Format of string $ansible_managed available within Jinja2 templates, replacing
# {file}, {host} and {uid} with template filename, host and owner respectively.
# The resulting string is passed through strftime(3) so it may contain any
# time-formatting specifiers.
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}


[ssh_connection]

# If uncommented, sets the ansible ssh arguments to the following. Leaving off ControlPersist
# will result in poor performance, so use transport=paramiko on older platforms rather than
# removing it
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r
